<div class="text-center">
  <form [formGroup]="employeeForm" (ngSubmit)="addEmployeeDetails()" novalidate class="d-flex-center">
    <div class="example-container">
      <div>
        <mat-form-field>
          <input matInput placeholder="FirstName" formControlName="firstName">
          <mat-error *ngIf="!employeeForm.get('firstName')?.errors?.required && (employeeForm.get('firstName')?.errors?.pattern)">
            Please enter a first name
          </mat-error>
          <mat-error *ngIf="employeeForm.get('firstName')?.invalid && (employeeForm.get('firstName')?.dirty || employeeForm.get('firstName')?.touched) && employeeForm.get('firstName')?.errors?.required">
            First Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="LastName" formControlName="lastName">
          <mat-error *ngIf="!employeeForm.get('lastName')?.errors?.required && (employeeForm.get('lastName')?.errors?.pattern)">
            Please enter a last name
          </mat-error>
          <mat-error *ngIf="employeeForm.get('lastName')?.invalid && (employeeForm.get('lastName')?.dirty || employeeForm.get('lastName')?.touched) && employeeForm.get('lastName')?.errors?.required">
            Last Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="emailId">
          <mat-error *ngIf="!employeeForm.get('emailId')?.errors?.required && (employeeForm.get('emailId')?.errors?.pattern)">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="employeeForm.get('emailId')?.invalid && (employeeForm.get('emailId')?.dirty || employeeForm.get('emailId')?.touched) && employeeForm.get('emailId')?.errors?.required">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
          <input matInput placeholder="Contact" formControlName="contactDetails">
          <mat-error *ngIf="!employeeForm.get('contactDetails')?.errors?.required">
            Contant number must be between 0 - 9 and total 10 digits.
          </mat-error>
          <mat-error *ngIf="employeeForm.get('contactDetails')?.invalid && (employeeForm.get('contactDetails')?.dirty || employeeForm.get('contactDetails')?.touched) && employeeForm.get('contactDetails')?.errors?.required">
            Contact Number is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Salary" formControlName="salary">
          <mat-error *ngIf="!employeeForm.get('salary')?.errors?.required && (employeeForm.get('salary')?.errors?.pattern)">
            Please enter only digits.
          </mat-error>
          <mat-error *ngIf="employeeForm.get('salary')?.invalid && (employeeForm.get('salary')?.dirty || employeeForm.get('salary')?.touched) && employeeForm.get('salary')?.errors?.required">
            Salary is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top">
        <button [disabled]="!employeeForm.valid" mat-raised-button color="primary" mat-button>Sign In</button>
      </div>
    </div>
  </form>
</div>
<p class="text-center fs-3" [ngClass]="isAccountCreated ? 'text-success pb-1' : 'text-danger pb-1'">{{displayMsg}}</p>

<div class="img-txt">
  <div class="content">
    <h2 *ngIf ="employeeList">Employee List</h2>
    <div>
      <div class="spacer">
        <table style="width:100%">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Salary</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
          <tbody>
            <tr *ngFor="let employee of employeeList">
              <td> {{employee.firstName}} </td>
              <td> {{employee.lastName}} </td>
              <td> {{employee.emailId}} </td>
              <td> {{employee.contactDetails}} </td>
              <td> {{employee.salary}} </td>
              <td> <a href="#">EDIT</a> </td>
              <td> <a href="#" (click) =" delete(employee.empId)">DELETE</a> </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>




