
body {
  margin: 0;
  font: 100% / 1.5 Inconsolata, monospace
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
  text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.125), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
}
img{
    width : 70%;
    height:100px
}

main {
  margin: 2rem auto 4rem;
  width: 90%;
  max-width: 70rem;
}
.center {
  height: 200px;
  width:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #dbe4ed; /* Border color is optional */  

}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
