<!--<div>
  <h2> Pizzeria menu </h2>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="search pizza" id="txtSearch" />
        <button type="button" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-search"
               viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
            </path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div *ngFor="let product of productList">
        <div>

          <a class="nav-item nav-link" routerLink="/menu">{{product.name}}</a>
          <img [src]="product.src" />
        </div>-->
<!--<button (click)="addProductToCart(product)">+</button>-->
<!--{{product.price}}-->
<!--<div class="row">-->
<!--<div class="col-xs-6 col-md-4">
  {{product.ingredients}}
</div>-->
<!--</div>
      </div>
      </div>
    </div>
</div>-->
<!--<table>
  <thead>
    <tr>-->
<!--<td rowspan="2">Image</td>
<td rowspan="2">Pizza type</td>-->
<!--</tr>
  </thead>
  <tbody class="container-fluid">
    <ng-container>
        <tr *ngFor="let product of productList">
          <td><a class="nav-item nav-link" routerLink="/menu">{{product.name}}
          <img [src]="product.src" /></a></td>
        </tr>
      </ng-container>
  </tbody>
</table>-->

<div class="img-txt">
  <!--<div class="content">-->
    <h2> Pizzeria menu </h2>
    <div *ngFor="let product of productList">
      <div >
        <a class="nav-item nav-link column" routerLink="/order" (click)="addProductToCart(product)">
          <img [src]="product.src" />

          <div> {{product.name}}</div>
          </a>
      </div>

      </div>
    <!--</div>-->
  </div>

